.project
.classpath
*.class
*.iml
*.mf
*.hprof
obfuscation.map

.gradle/
.idea/
.bin/
./cache/screenshots/
./cache/sprites/
cache/packing/
cache_version.txt
cache.zip


/bin/
/build/
/out/
/cache/packing/
/temp/
