.project
.classpath
*.class
*.iml
*.mf
*.hprof
obfuscation.map

.gradle/
.idea/
.bin/
./RealtingCache/screenshots/
./RealtingCache/sprites/
RealtingCache/packing/
RealtingCache_version.txt
RealtingCache.zip


/bin/
/build/
/out/
/RealtingCache/packing/
/temp/
